manifestparser==1.1
marionette-client==0.12
marionette-driver==0.5
marionette-transport==0.4
mozInstall==1.12
mozcrash==0.14
mozdevice==0.44
mozfile==1.1
mozhttpd==0.7
mozinfo==0.7
mozlog==2.10
moznetwork==0.24
mozprocess==0.21
mozprofile==0.23
mozrunner==6.6
moztest==0.7
mozversion==1.1
